/* Barre de navigation Admin */
.admin-header {
    background: #333;
    padding: 15px;
}

.admin-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    background: #333;
    padding: 15px 20px;
    z-index: 1000;
}

.admin-logo a {
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
}

.admin-nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 63%; 
    padding: 0;
}

.admin-nav-links li {
    display: inline-block;
}

.admin-nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.admin-nav-links a:hover {
    text-decoration: underline;
}

/* Bouton Déconnexion */
.logout-btn {
    background: red;
    padding: 5px 10px;
    border-radius: 5px;
}

.logout-btn:hover {
    background: darkred;
}

@media (max-width: 1024px) {
    .admin-navbar {
        flex-direction: column;
        align-items: center;
    }

    .admin-nav-links {
        margin-left: 0;
        gap: 10px;
    }
    .logout-btn {
        padding: 5px 8px; 
        font-size: 12px;
    }
}